.fullpage{
  display: flex;
}

.thread{
  width: 400px;
}

.page{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.thread-info{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.thread-body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: center;
}