#container{
    border-radius: 25px;
}
#thread_author{
    width: 300px;
}
#thread_subject{
    width: 300px;
}
#thread_title{
    width: 300px;
}
#thread_msg{
    width: 300px;
    height: 100px;
}
img{
    width: 30px;
    height: 30px;
}

.imagem{
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 50px 0 0 0 ;
}