body {
    background:#e5e8e8;
}
img{
    width: 30px;
    height: 30px;
}
#imagem{
    width: 100px;
    height: 100px;
    margin: 50px 0 0 0 ;
}

li{
    margin-top: 1px;
    cursor: pointer;
    position: relative;
}

li::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: #000000;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

li:hover::after{
    width: 100%;
}

#teste{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 80%;
    margin-top: 20px;
    margin-bottom: 120px;
}

.topics{
    margin-bottom: 10px;
}

#testando{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.principal{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}
