body {
  background-color: #e5e8e8;
}

.tudo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.new{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 20%;
    border-radius: 50px;
}

.old{
    margin-bottom: 10px;
    width: 20%;
    border-radius: 50px;
}

input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 50px;
  margin-top: 10px;
  width: 90%;
  height: 100px;
  cursor: pointer;
  font-size: 15px;
}

.new:hover{
    background-color: black;
    color: white;
}

input:hover{
    border: 1px solid #1E90FF;
}